*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 1.4em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{

    background-color: #00AA4F;
    width: 100%;
    height: 160px;
    border-radius: 0 0 10px 10px;
    padding: 20px 25px 0;
    
    
}

header p.header_title {
    margin-bottom: 3px;
}

.buscar {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #B2CB7A;
    padding: 5px 0 5px 5px
}

.btn-search {
    font-size: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 75px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #86A09D;
    padding: 5px 0 5px 5px

}

.btn-searchHistory {
    font-size: 0.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 5px;
    width: 75px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #86A09D;
    padding: 5px 0 5px 5px

}

.contenedor-btn {
    display: flex;
    flex-direction: row;

}


.gifs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 50px;
    background-color: white;
    
}


main {
    background-color: white;
    width: 100%;

}


.gif {
    width: 300px;
    height: 300px;
    flex: 1;
    margin: 5px;
    padding: 2px;
    border-radius: 6px;
}

@media (min-width: 800px) {

    .btn-search {
        font-size: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #86A09D;
        padding: 5px 0 5px 5px
    
    }
    
    .btn-searchHistory {
        font-size: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-left: 5px;
        width: 100px;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #86A09D;
        padding: 5px 0 5px 5px
    
    }
    
    body {
        width: 100vw;
    }

    div.main {
        margin-top: 0;
        
        }

header{
    margin-bottom: 20px;  
}

}
@media (min-width: 1024px) {

    .btn-search {
        font-size: 0.85em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #86A09D;
        padding: 5px 0 5px 5px
    
    }
    
    .btn-searchHistory {
        font-size: 0.85em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-left: 5px;
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #86A09D;
        padding: 5px 0 5px 5px
    
    }

    body {
     height: auto;   
    }

    div.main {
        display: flex;
        background-color: #E94D4D;
        width: 40%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        
        }
        div.main_div{
            width: 90%;
        
        }
        
        

}